<div class="wrapper">
  <div class="info heading">
    <img
      src="../../../../assets/images/checkmark-img.png"
      alt=""
      class="success"
    />
    <div class="section-title">
      Congratulations ! You have successfully applied for the walk-in
      opportunity
    </div>
  </div>
  <div class="info">
    <div class="legends">Date & Time of Walk-In :</div>
    <div class="instruction">
      <span> 03rd July 2021 </span>
      <span> 9:00 AM to 11:00 AM </span>
    </div>
  </div>
  <div class="info">
    <div class="legends">Venue of Walk-In :</div>
    <div class="instruction">
      <span>
        Zeus Systems Pvt. Ltd. 1402, 14th Floor, Tower B, Peninsula Business
        Park. Ganpatrao Kadam Marg Lower Parel (W) Mumbai - 400 013 Phone:
        +91-22-66600000
      </span>
    </div>
  </div>
  <div class="info">
    <div class="legends">THINGS TO REMEMBER :</div>
    <div class="instruction">
      <span> - Please report 30 MINUTES prior to your reporting time. </span>
      <span>
        - Download your Hall Ticket from below and carry it with you during your
        Walk-In.
      </span>
    </div>
  </div>
  <button>DOWNLOAD HALL TICKET</button>
</div>
