.wrapper {
  background: white;
  margin: 1.5rem;
  margin-top: 4.75rem;
  font-family: "quicksand";
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 600;
  transform: translateY(-1rem);
}

.heading {
  height: 7.25rem;
  justify-content: end;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 1rem;
}

.instruction {
  display: flex;
  flex-direction: column;
}

span {
  margin: 0.125rem 0;
  font-weight: 600;
  font-size: 0.875rem;
}

.info::after {
  content: "";
  border-bottom: 1px solid #0000001f;
  display: inline-block;
  width: 100%;
  height: 0.5rem;
}

button {
  appearance: none;
  border: none;
  background: #3fd28b;
  box-shadow: 0 0.22rem 0.33rem rgba(0, 0, 0, 0.23);
  font-family: "quicksand";
  font-size: 0.875rem;
  font-weight: 500;
  height: 1.75rem;
  min-width: 4.5rem;
  max-width: fit-content;
  align-self: center;
  margin: 1.5rem;
}

.legends {
  color: #666666;
  font-size: 0.75rem;
  font-weight: 600;
  break-after: always;
  margin-bottom: 0.5rem;
}

.success {
  transform: translateY(1rem);
}
