<div class="wrapper">
  <div class="walk-in-container">
    <div class="expiry">Expires in 5 days</div>
    <div class="title">Walk In for Designer Job Role</div>
    <div class="info">
      <div class="legends">Date & Time :</div>
      <div class="dates">10-Jul-2021 to 11-Jul-2021</div>
      <div class="location">Mumbai</div>
    </div>
    <div class="roles">
      <div class="legends">Job Roles :</div>
      <div class="role">Instructional Designer</div>
      <div class="role">Software Engineer</div>
      <div class="role">Software Quality Engineer</div>
    </div>
    <div class="internship">Internship Opportunity for MCA Students</div>
    <button class="details" routerLink="/walk-in/1">VIEW MORE DETAILS</button>
  </div>
  <div class="walk-in-container">
    <div class="expiry">Expires in 5 days</div>
    <div class="title">Walk In for Designer Job Role</div>
    <div class="info">
      <div class="legends">Date & Time :</div>
      <div class="dates">10-Jul-2021 to 11-Jul-2021</div>
      <div class="location">Mumbai</div>
    </div>
    <div class="roles">
      <div class="legends">Job Roles :</div>
      <div class="role">Instructional Designer</div>
      <div class="role">Software Engineer</div>
      <div class="role">Software Quality Engineer</div>
    </div>
    <div class="internship">Internship Opportunity for MCA Students</div>
    <button class="details">VIEW MORE DETAILS</button>
  </div>
</div>
