/* app wrapper */
.website-wrapper {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  align-items: center;
  background: #25313f;
  display: flex;
  height: 3rem;
}

main {
  flex: 0;
}

footer {
  display: flex;
  font-family: "quicksand";
  font-size: 0.85rem;
  height: 4rem;
  justify-content: center;
  margin-top: auto;
}

/* logo */
.logo {
  margin-left: 1.8rem;
}

/* CSS for about and contact us */
.footer-upper {
  display: flex;
  color: #1f7a54;
}

.footer-upper > div {
  margin: 0 0.625rem;
}

.footer-upper > div:nth-child(1)::after {
  border: 1px solid #0000001f;
  content: "";
  display: inline-block;
  height: 1rem;
  position: absolute;
  margin-left: 0.625rem;
}
